{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
  <div class="container">
      <h1>Erreur sur l'identifier pour le client</h1>
  </div>
{% endblock %}