{# templates/list/index.html.twig #} {% extends 'base.html.twig' %} {% block
body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light mb-3 mt-3">
        <div class="card-body">
             <a class="nav-link btn btn-primary" href="{{ path('user_info', {'email' : email}) }}">View User Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}